[Desktop Entry]
Name=Color Profile Viewer
Name[pl]=Podgląd profilu kolorów
Comment=Inspect and compare installed color profiles
Comment[pl]=Badanie i porównywanie zainstalowanych profilów kolorów
Icon=audio-input-microphone.svg
Exec=gcm-viewer
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
Keywords=Color; ;Viewer;
Keywords[pl]=Colorski, ,
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-color-manager
X-GNOME-Bugzilla-Component=gnome-color-manager
